/* line 10, ../sass/main.sass */
html {
  height: 100%;
}

/* line 12, ../sass/main.sass */
body {
  color: white;
  background: #111;
  height: 100%;
  font-size: 1em;
  font-family: "Open Sans Condensed", sans-serif;
}

@media (max-width: 1366px) {
  /* line 20, ../sass/main.sass */
  body {
    font-size: 0.75em;
  }
}
/* line 22, ../sass/main.sass */
a {
  color: white;
  transition: all 0.5s;
}
/* line 26, ../sass/main.sass */
a:visited {
  color: white;
}
/* line 28, ../sass/main.sass */
a:hover {
  color: #ccc;
}

/* line 31, ../sass/main.sass */
#container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* line 36, ../sass/main.sass */
#title {
  text-shadow: 0px 1px 1px black;
}

/* line 39, ../sass/main.sass */
#splash-container {
  position: relative;
}

/* line 42, ../sass/main.sass */
#splash {
  font-family: Playball;
  position: relative;
  top: 25vh;
  height: 50%;
}

/* line 50, ../sass/main.sass */
#name {
  padding: 1em 0.5em;
  border: 3px solid #55aaff;
  border-radius: 10px;
  font-size: 5em;
  text-align: center;
  transition: background-color 0.25s;
  cursor: pointer;
}
/* line 62, ../sass/main.sass */
#name:hover {
  background-color: #55aaff;
}

/* line 65, ../sass/main.sass */
#navbar {
  padding: 2em;
  text-align: center;
  font-size: 1.5em;
}
/* line 69, ../sass/main.sass */
#navbar ul {
  padding-left: 0;
}
/* line 71, ../sass/main.sass */
#navbar ul li {
  display: inline-block;
  padding: 0 15px;
}
/* line 74, ../sass/main.sass */
#navbar ul li a {
  color: white;
  outline: none;
  border: 2px solid #55aaff;
  border-radius: 10px;
  padding: 0.5em 2em;
  transition: background-color 0.25s;
}
/* line 81, ../sass/main.sass */
#navbar ul li a:hover {
  background-color: #55aaff;
}

/* line 84, ../sass/main.sass */
div.row {
  min-height: 100%;
  padding: 15px 25%;
  box-sizing: border-box;
}
/* line 89, ../sass/main.sass */
div.row p {
  display: inline-block;
  font-size: 3em;
  margin-bottom: 20px;
}
/* line 93, ../sass/main.sass */
div.row:nth-of-type(odd) {
  background-color: #111;
}
/* line 95, ../sass/main.sass */
div.row:nth-of-type(even) {
  background-color: #55aaff;
}

/* line 103, ../sass/main.sass */
#back_to_top {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 5.5px solid white;
  border-radius: 100%;
  position: fixed;
  right: 25px;
  bottom: 25px;
  box-sizing: border-box;
  z-index: 1;
  transition: all 0.25s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 122, ../sass/main.sass */
#back_to_top:after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 0;
  height: 25px;
  top: 11.5px;
  left: 15.33333px;
  border: 4.16667px solid white;
  border-right-width: 5.16667px;
}
/* line 133, ../sass/main.sass */
#back_to_top:before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  left: 7px;
  top: 8px;
  box-sizing: border-box;
  position: absolute;
  border: 8.33333px solid white;
  border-right: none;
  border-bottom: none;
  transform: rotate(45deg);
}
/* line 146, ../sass/main.sass */
#back_to_top:hover {
  background-color: #55aaff;
  box-shadow: 0 0 10px black;
}

/* line 154, ../sass/main.sass */
#secrets {
  display: none;
  padding: 1em 0.5em;
  border: 3px solid #55aaff;
  border-radius: 10px;
  font-size: 4em;
  text-align: center;
  transition: background-color 0.25s;
  cursor: pointer;
}
/* line 167, ../sass/main.sass */
#secrets:hover {
  background-color: #55aaff;
}
