/* line 10, ../sass/main.sass */
html {
  height: 100%;
}

/* line 12, ../sass/main.sass */
body {
  color: white;
  background: #111;
  height: 100%;
  font-size: 1em;
  font-family: sans-serif;
}

@media (max-width: 600px) {
  /* line 20, ../sass/main.sass */
  body {
    font-size: 0.25em;
  }
}
/* line 22, ../sass/main.sass */
a {
  text-decoration: none;
}

/* line 25, ../sass/main.sass */
#container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* line 30, ../sass/main.sass */
#title {
  text-shadow: 0px 1px 1px black;
}

/* line 33, ../sass/main.sass */
#splash-container {
  position: relative;
}

/* line 36, ../sass/main.sass */
#splash {
  font-family: Playball;
  position: relative;
  top: 25vh;
  height: 50%;
}

/* line 44, ../sass/main.sass */
#name {
  padding: 1em 0.5em;
  border: 3px solid #55aaff;
  border-radius: 10px;
  font-size: 5em;
  text-align: center;
  transition: background-color 0.25s;
  cursor: pointer;
}
/* line 56, ../sass/main.sass */
#name:hover {
  background-color: #55aaff;
}

/* line 59, ../sass/main.sass */
#navbar {
  padding: 2em;
  text-align: center;
  font-size: 1.5em;
}
/* line 63, ../sass/main.sass */
#navbar ul {
  padding-left: 0;
}
/* line 65, ../sass/main.sass */
#navbar ul li {
  display: inline-block;
  padding: 0 15px;
}
/* line 68, ../sass/main.sass */
#navbar ul li a {
  color: white;
  outline: none;
  border: 2px solid #55aaff;
  border-radius: 10px;
  padding: 0.5em 2em;
  transition: background-color 0.25s;
}
/* line 75, ../sass/main.sass */
#navbar ul li a:hover {
  background-color: #55aaff;
}

/* line 78, ../sass/main.sass */
div.row {
  min-height: 100%;
  padding: 15px 25%;
  box-sizing: border-box;
}
/* line 83, ../sass/main.sass */
div.row p {
  display: inline-block;
  font-size: 3em;
}
/* line 86, ../sass/main.sass */
div.row:nth-of-type(odd) {
  background-color: #111;
}
/* line 88, ../sass/main.sass */
div.row:nth-of-type(even) {
  background-color: #55aaff;
}

/* line 96, ../sass/main.sass */
#back_to_top {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 5.5px solid white;
  border-radius: 100%;
  position: fixed;
  right: 25px;
  bottom: 25px;
  box-sizing: border-box;
  z-index: 1;
  transition: all 0.25s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 115, ../sass/main.sass */
#back_to_top:after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 0;
  height: 25px;
  top: 11.5px;
  left: 15.33333px;
  border: 4.16667px solid white;
  border-right-width: 5.16667px;
}
/* line 126, ../sass/main.sass */
#back_to_top:before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  left: 7px;
  top: 8px;
  box-sizing: border-box;
  position: absolute;
  border: 8.33333px solid white;
  border-right: none;
  border-bottom: none;
  transform: rotate(45deg);
}
/* line 139, ../sass/main.sass */
#back_to_top:hover {
  background-color: #55aaff;
}

/* line 146, ../sass/main.sass */
#secrets {
  display: none;
  padding: 1em 0.5em;
  border: 3px solid #55aaff;
  border-radius: 10px;
  font-size: 4em;
  text-align: center;
  transition: background-color 0.25s;
  cursor: pointer;
}
/* line 159, ../sass/main.sass */
#secrets:hover {
  background-color: #55aaff;
}

/* line 165, ../sass/main.sass */
.code-box {
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  background: #cbb;
  padding: 10px;
  line-height: 18px;
}
/* line 172, ../sass/main.sass */
.code-box .code-box-header {
  padding: 10px;
  font-weight: bold;
  #border-bottom: 1px solid black;
}
/* line 176, ../sass/main.sass */
.code-box .code-box-header select {
  float: right;
}
/* line 178, ../sass/main.sass */
.code-box > .highlight {
  border: 1px solid black;
  padding: 10px;
}
/* line 181, ../sass/main.sass */
.code-box > .highlight code {
  width: 100%;
  display: inline-block;
}
/* line 184, ../sass/main.sass */
.code-box > .highlight code .lineno {
  text-align: center;
  color: black;
  background: #888;
  padding: 0 10px;
  margin-left: -10px;
  border-right: 1px solid black;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 194, ../sass/main.sass */
.code-box > .highlight code .lineno.first {
  padding-top: 10px;
}
/* line 196, ../sass/main.sass */
.code-box > .highlight code .lineno.last {
  padding-bottom: 10px;
}
/* line 198, ../sass/main.sass */
.code-box .highlighttable {
  width: 100%;
  border: 1px solid black;
}
/* line 201, ../sass/main.sass */
.code-box .highlighttable .linenos {
  text-align: center;
  background-color: #888;
  width: 30px;
  border-right: 1px solid black;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 209, ../sass/main.sass */
.code-box .highlighttable .code {
  padding: 10px;
}
