/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/main.sass */
html {
  height: 100%;
}

/* line 14, ../sass/main.sass */
body {
  color: white;
  background: #111111;
  height: 100%;
  font-size: 1em;
}

@media (max-width: 600px) {
  /* line 21, ../sass/main.sass */
  body {
    font-size: 0.25em;
  }
}
/* line 23, ../sass/main.sass */
a {
  text-decoration: none;
}

/* line 26, ../sass/main.sass */
#container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* line 31, ../sass/main.sass */
#title {
  text-shadow: 0px 1px 1px black;
}

/* line 34, ../sass/main.sass */
#splash-container {
  position: relative;
}

/* line 37, ../sass/main.sass */
#splash {
  position: relative;
  top: 25vh;
  height: 50%;
}

/* line 44, ../sass/main.sass */
#name {
  padding: 1em 0.5em;
  border: 3px solid #55aaff;
  border-radius: 10px;
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.25s;
  cursor: pointer;
}
/* line 56, ../sass/main.sass */
#name:hover {
  background-color: #55aaff;
}

/* line 59, ../sass/main.sass */
#navbar {
  padding: 2em;
  text-align: center;
}
/* line 62, ../sass/main.sass */
#navbar ul {
  padding-left: 0;
}
/* line 64, ../sass/main.sass */
#navbar ul li {
  display: inline-block;
  padding: 0 15px;
}
/* line 67, ../sass/main.sass */
#navbar ul li a {
  color: white;
  outline: none;
  border: 2px solid #55aaff;
  border-radius: 10px;
  padding: 1em 2em;
  transition: background-color 0.25s;
}
/* line 74, ../sass/main.sass */
#navbar ul li a:hover {
  background-color: #55aaff;
}

/* line 77, ../sass/main.sass */
div.row {
  min-height: 100%;
  padding: 0 25%;
}
/* line 81, ../sass/main.sass */
div.row p {
  display: inline-block;
}
/* line 83, ../sass/main.sass */
div.row:nth-of-type(odd) {
  background-color: #111111;
}
/* line 85, ../sass/main.sass */
div.row:nth-of-type(even) {
  background-color: #55aaff;
}

/* line 93, ../sass/main.sass */
#back_to_top {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 5.5px solid white;
  border-radius: 100%;
  position: fixed;
  right: 25px;
  bottom: 25px;
  box-sizing: border-box;
  z-index: 1;
  transition: all 0.25s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 112, ../sass/main.sass */
#back_to_top:after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 0;
  height: 25px;
  top: 11.5px;
  left: 15.33333px;
  border: 4.16667px solid white;
  border-right-width: 5.16667px;
}
/* line 123, ../sass/main.sass */
#back_to_top:before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  left: 7px;
  top: 8px;
  box-sizing: border-box;
  position: absolute;
  border: 8.33333px solid white;
  border-right: none;
  border-bottom: none;
  transform: rotate(45deg);
}
/* line 136, ../sass/main.sass */
#back_to_top:hover {
  background-color: #55aaff;
}

/* line 143, ../sass/main.sass */
#secrets {
  display: none;
  padding: 1em 0.5em;
  border: 3px solid #55aaff;
  border-radius: 10px;
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.25s;
  cursor: pointer;
}
/* line 156, ../sass/main.sass */
#secrets:hover {
  background-color: #55aaff;
}
