// Defines
$ICE_BLUE: #00E6FF
$PERIWINKLE: #55aaff

$border-color: $PERIWINKLE
$splash-bg: #111



html
  height: 100%
body
  color: white
  background: $splash-bg
  height: 100%
  font-size: 1em
  font-family: "Open Sans Condensed", sans-serif

@media (max-width: 1366px)
  body
    font-size: .75em
a
  //text-decoration: none
  color: white
  transition: all .5s
  &:visited
    color: white
  &:hover
    color: #ccc

#container
  height: 100%
  position: relative
  overflow: hidden

#title
  text-shadow: 0px 1px 1px black

#splash-container
  position: relative

#splash
  font-family: Playball
  //margin: auto
  position: relative
  top: 25vh
  //width: 50%
  height: 50%

#name
  padding: 1em 0.5em
  border: 3px solid $border-color
  border-radius: 10px

  font-size: 5em
  text-align: center

  //text-transform: uppercase

  transition: background-color .25s
  cursor: pointer
  &:hover
    background-color: $border-color

#navbar
  padding: 2em
  text-align: center
  font-size: 1.5em
  ul
    padding-left: 0
    li
      display: inline-block
      padding: 0 15px
      a
        color: white
        outline: none
        border: 2px solid $border-color
        border-radius: 10px
        padding: .5em 2em
        transition: background-color .25s
        &:hover
          background-color: $border-color

div.row
  //width: 75%
  min-height: 100%
  padding: 15px 25%
  box-sizing: border-box
  p
    display: inline-block
    font-size: 3em
    margin-bottom: 20px
  &:nth-of-type(odd)
    background-color: $splash-bg
  &:nth-of-type(even)
    background-color: $border-color

$scroll_down_icon_size: 50px
$scroll_down_icon_border_size: 5.5px
$scroll_down_icon_height: $scroll_down_icon_size / 2
$scroll_down_icon_width: $scroll_down_icon_size / 6

#back_to_top2
  cursor: pointer
  width: $scroll_down_icon_size
  height: $scroll_down_icon_size
  border: $scroll_down_icon_border_size solid white
  border-radius: 100%
  position: fixed
  right: 25px
  bottom: 25px
  box-sizing: border-box
  z-index: 1
  transition: all .25s

  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  &:after
    content: ""
    display: block
    box-sizing: border-box
    position: relative
    width: 0
    height: $scroll_down_icon_height
    top: $scroll_down_icon_size / 2 - $scroll_down_icon_height / 2 - 1
    left: $scroll_down_icon_size / 2 - $scroll_down_icon_border_size - $scroll_down_icon_width / 2
    border: $scroll_down_icon_width / 2 solid white
    border-right-width: $scroll_down_icon_width / 2 + 1
  &:before
    content: ""
    display: block
    width: 25px
    height: 25px
    left: 7px
    top: 8px
    box-sizing: border-box
    position: absolute
    border: $scroll_down_icon_width solid white
    border-right: none
    border-bottom: none
    transform: rotate(45deg)
  &:hover
    background-color: $border-color
    box-shadow: 0 0 10px black


#back_to_top
  text-align: center
  font-size: 36px
  cursor: pointer
  width: $scroll_down_icon_size
  height: $scroll_down_icon_size
  border: $scroll_down_icon_border_size solid white
  border-radius: 100%
  position: fixed
  right: 25px
  bottom: 25px
  box-sizing: border-box
  z-index: 1
  transition: all .25s

  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  &:hover
    background-color: $border-color
    box-shadow: 0 0 10px #ccc



#secrets
  display: none
  padding: 1em 0.5em
  border: 3px solid $border-color
  border-radius: 10px

  font-size: 4em
  text-align: center

  //text-transform: uppercase

  transition: background-color .25s
  cursor: pointer
  &:hover
    background-color: $border-color


.icon-row
  font-size: 2em
  text-align: center
  margin-top: 50%
  a.icon
    display: inline-block
    text-decoration: none
    span
      display: block
    &:hover
      cursor: pointer
    &:not(:last-child)
      margin-right: 15px
