---
layout: main
title: Main
---
<span id="scroll_down" style="display: none"></span>
<span id="back_to_top" style="right: -100px"></span>
<div id="splash-container" class="row">
    <div id="splash">
        <div id="secrets">howdeeeeeee</div>
        <div id="name">Adam Keenan<br/>Site under construction</div>
        <div id="navbar">
            <ul>
                <li><a href="#about">About Me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="about" class="row">
    <p>{% include about.md %}</p>
</div>
<div id="projects" class="row">
    <p>{% include projects.md %}</p>
</div>
<div id="contact" class="row">
    <p>{% include contact.md %}</p>
</div>
