---
layout: main
title: Main
---
<span id="scroll_down" style="display: none"></span>
<span id="back_to_top" class="fa fa-arrow-up fa-3x" style="right: -100px"></span>
<div id="splash-container" class="row">
    <div id="splash">
        <div id="secrets">howdeeeeeee</div>
        <div id="name">Adam Keenan</div>
        <div id="navbar">
            <ul>
                <li><a href="#about">About Me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#info">Info</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="about" class="row">
    {% capture about %}{% include about.md %}{% endcapture %}
    {{ about | markdownify }}
</div>
<div id="projects" class="row">
    {% capture projects %}{% include projects.md %}{% endcapture %}
    {{ projects | markdownify }}
</div>
<div id="info" class="row">
    {% include info.html %}
</div>
