<div class="icon-row">
    <a class="icon" href="mailto:adam.g.keenan@gmail.com?subject=[Change Me] via Personal Website&body=Yo wuddup cool guy?">
        <i class="fa fa-envelope-square fa-5x"></i>
        <span>Email</span>
    </a>
    <a class="icon" href="https://github.com/adamk33n3r/">
        <i class="fa fa-github-square fa-5x"></i>
        <span>Github</span>
    </a>
    <a class="icon" href="https://twitter.com/adamk33n3r/">
        <i class="fa fa-twitter-square fa-5x"></i>
        <span>Twitter</span>
    </a>
    <a class="icon" href="https://www.linkedin.com/in/adamgkeenan/">
        <i class="fa fa-linkedin-square fa-5x"></i>
        <span>LinkedIn</span>
    </a>
</div>
