.solarized .code , .solarized .highlight  .hll { background-color: #ffffcc }
.solarized .code , .solarized .highlight   { background: #002B36; color: #93A1A1 }
.solarized .code .c, .solarized .highlight  .c { color: #586E75 } /* Comment */
.solarized .code .err, .solarized .highlight  .err { color: #93A1A1 } /* Error */
.solarized .code .esc, .solarized .highlight  .esc { color: #93A1A1 } /* Escape */
.solarized .code .g, .solarized .highlight  .g { color: #93A1A1 } /* Generic */
.solarized .code .k, .solarized .highlight  .k { color: #859900 } /* Keyword */
.solarized .code .l, .solarized .highlight  .l { color: #93A1A1 } /* Literal */
.solarized .code .n, .solarized .highlight  .n { color: #93A1A1 } /* Name */
.solarized .code .o, .solarized .highlight  .o { color: #859900 } /* Operator */
.solarized .code .x, .solarized .highlight  .x { color: #CB4B16 } /* Other */
.solarized .code .p, .solarized .highlight  .p { color: #93A1A1 } /* Punctuation */
.solarized .code .cm, .solarized .highlight  .cm { color: #586E75 } /* Comment.Multiline */
.solarized .code .cp, .solarized .highlight  .cp { color: #859900 } /* Comment.Preproc */
.solarized .code .c1, .solarized .highlight  .c1 { color: #586E75 } /* Comment.Single */
.solarized .code .cs, .solarized .highlight  .cs { color: #859900 } /* Comment.Special */
.solarized .code .gd, .solarized .highlight  .gd { color: #2AA198 } /* Generic.Deleted */
.solarized .code .ge, .solarized .highlight  .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.solarized .code .gr, .solarized .highlight  .gr { color: #DC322F } /* Generic.Error */
.solarized .code .gh, .solarized .highlight  .gh { color: #CB4B16 } /* Generic.Heading */
.solarized .code .gi, .solarized .highlight  .gi { color: #859900 } /* Generic.Inserted */
.solarized .code .go, .solarized .highlight  .go { color: #93A1A1 } /* Generic.Output */
.solarized .code .gp, .solarized .highlight  .gp { color: #93A1A1 } /* Generic.Prompt */
.solarized .code .gs, .solarized .highlight  .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.solarized .code .gu, .solarized .highlight  .gu { color: #CB4B16 } /* Generic.Subheading */
.solarized .code .gt, .solarized .highlight  .gt { color: #93A1A1 } /* Generic.Traceback */
.solarized .code .kc, .solarized .highlight  .kc { color: #CB4B16 } /* Keyword.Constant */
.solarized .code .kd, .solarized .highlight  .kd { color: #268BD2 } /* Keyword.Declaration */
.solarized .code .kn, .solarized .highlight  .kn { color: #859900 } /* Keyword.Namespace */
.solarized .code .kp, .solarized .highlight  .kp { color: #859900 } /* Keyword.Pseudo */
.solarized .code .kr, .solarized .highlight  .kr { color: #268BD2 } /* Keyword.Reserved */
.solarized .code .kt, .solarized .highlight  .kt { color: #DC322F } /* Keyword.Type */
.solarized .code .ld, .solarized .highlight  .ld { color: #93A1A1 } /* Literal.Date */
.solarized .code .m, .solarized .highlight  .m { color: #2AA198 } /* Literal.Number */
.solarized .code .s, .solarized .highlight  .s { color: #2AA198 } /* Literal.String */
.solarized .code .na, .solarized .highlight  .na { color: #93A1A1 } /* Name.Attribute */
.solarized .code .nb, .solarized .highlight  .nb { color: #B58900 } /* Name.Builtin */
.solarized .code .nc, .solarized .highlight  .nc { color: #268BD2 } /* Name.Class */
.solarized .code .no, .solarized .highlight  .no { color: #CB4B16 } /* Name.Constant */
.solarized .code .nd, .solarized .highlight  .nd { color: #268BD2 } /* Name.Decorator */
.solarized .code .ni, .solarized .highlight  .ni { color: #CB4B16 } /* Name.Entity */
.solarized .code .ne, .solarized .highlight  .ne { color: #CB4B16 } /* Name.Exception */
.solarized .code .nf, .solarized .highlight  .nf { color: #268BD2 } /* Name.Function */
.solarized .code .nl, .solarized .highlight  .nl { color: #93A1A1 } /* Name.Label */
.solarized .code .nn, .solarized .highlight  .nn { color: #93A1A1 } /* Name.Namespace */
.solarized .code .nx, .solarized .highlight  .nx { color: #93A1A1 } /* Name.Other */
.solarized .code .py, .solarized .highlight  .py { color: #93A1A1 } /* Name.Property */
.solarized .code .nt, .solarized .highlight  .nt { color: #268BD2 } /* Name.Tag */
.solarized .code .nv, .solarized .highlight  .nv { color: #268BD2 } /* Name.Variable */
.solarized .code .ow, .solarized .highlight  .ow { color: #859900 } /* Operator.Word */
.solarized .code .w, .solarized .highlight  .w { color: #93A1A1 } /* Text.Whitespace */
.solarized .code .mb, .solarized .highlight  .mb { color: #2AA198 } /* Literal.Number.Bin */
.solarized .code .mf, .solarized .highlight  .mf { color: #2AA198 } /* Literal.Number.Float */
.solarized .code .mh, .solarized .highlight  .mh { color: #2AA198 } /* Literal.Number.Hex */
.solarized .code .mi, .solarized .highlight  .mi { color: #2AA198 } /* Literal.Number.Integer */
.solarized .code .mo, .solarized .highlight  .mo { color: #2AA198 } /* Literal.Number.Oct */
.solarized .code .sb, .solarized .highlight  .sb { color: #586E75 } /* Literal.String.Backtick */
.solarized .code .sc, .solarized .highlight  .sc { color: #2AA198 } /* Literal.String.Char */
.solarized .code .sd, .solarized .highlight  .sd { color: #93A1A1 } /* Literal.String.Doc */
.solarized .code .s2, .solarized .highlight  .s2 { color: #2AA198 } /* Literal.String.Double */
.solarized .code .se, .solarized .highlight  .se { color: #CB4B16 } /* Literal.String.Escape */
.solarized .code .sh, .solarized .highlight  .sh { color: #93A1A1 } /* Literal.String.Heredoc */
.solarized .code .si, .solarized .highlight  .si { color: #2AA198 } /* Literal.String.Interpol */
.solarized .code .sx, .solarized .highlight  .sx { color: #2AA198 } /* Literal.String.Other */
.solarized .code .sr, .solarized .highlight  .sr { color: #DC322F } /* Literal.String.Regex */
.solarized .code .s1, .solarized .highlight  .s1 { color: #2AA198 } /* Literal.String.Single */
.solarized .code .ss, .solarized .highlight  .ss { color: #2AA198 } /* Literal.String.Symbol */
.solarized .code .bp, .solarized .highlight  .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.solarized .code .vc, .solarized .highlight  .vc { color: #268BD2 } /* Name.Variable.Class */
.solarized .code .vg, .solarized .highlight  .vg { color: #268BD2 } /* Name.Variable.Global */
.solarized .code .vi, .solarized .highlight  .vi { color: #268BD2 } /* Name.Variable.Instance */
.solarized .code .il, .solarized .highlight  .il { color: #2AA198 } /* Literal.Number.Integer.Long */
